<!DOCTYPE html>
<html>
<head>
    <title>Edit Capsule</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="auth-body">

<div class="auth-container">

    <h2>✏️ Edit Capsule</h2>
    <p>Update your message</p>

    <form method="POST">

        <textarea name="message" required>{{ capsule.message }}</textarea>

        <input type="date" name="date" value="{{ capsule.date }}" required>

        <button type="submit">Update Capsule</button>

    </form>

</div>

</body>
</html>