<!DOCTYPE html>
<html lang="en">
<head>
    <title>Time Capsule</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>⏳ Time Capsule</h1>

    <!-- FORM (Create) -->
    <div class="input-section">
        <form action="/add" method="POST">
            <textarea name="message" placeholder="Write your message..." required></textarea><br><br>
            <input type="date" name="date" required><br><br>
            <button type="submit">Save</button>
        </form>
    </div>

    <h2>Your Capsules</h2>

    <!-- DISPLAY (Read) -->
    {% for c in capsules %}
    <div class="capsule">
        {% if c.date > current_date %}
    <p>🔒 Locked</p>
{% else %}
    <p>🔓 {{ c.message }}</p>
{% endif %}
        <p>Open on: {{ c.date }}</p>

        <!-- DELETE -->
        <a href="/edit/{{ c.id }}">
    <button>Edit</button>
</a>

<a href="/delete/{{ c.id }}">
    <button>Delete</button>
</a>
    </div>
    {% endfor %}

</body>
</html>